<!doctype html>
<head>
<meta charset="UTF-8">
</head>
<title>POI</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page  style="width:70%">
  <center><h1>POI-server</h1></center>
  <div class=metanav>
  {% if not session.username %}
    <a href="{{ url_for('signin') }}">signin</a>
  {% else %}
  	{{session.username}}
    <a href="{{ url_for('signout') }}">signout</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% if error %}
    <p style="color:red">{{ error }}</p>
  {% endif %}
  
  {% block body %}{% endblock %}
  

</div>